.navbar {
  position: sticky;
  top: 0;
  padding: 2px; 
  max-width: 420px;
}

.navbar ul { 
  list-style-type: none;
  margin: 1px;
  padding: 1px; 
  overflow: hidden; 
  background-color: white;
  font-size: 28px; 
}

.navbar li { 
  float: left; 
}

.navbar li a { 
  display: block; 
  color:black; 
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #182b49;
  color: #fff;
}

.navbar ul li a:focus {
  background-color: #182b49;
  color: #fff;
}

.flex-container {  
  display: flex;
  flex-direction: column;
}

.section p { 
  font-size: 28px; 
}

#S1 { 
  background-color: rgb(245,240,230); 
}

#S2 { 
  background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
  color: white; 
} 

#S3 { 
  background-color: rgb(245,240,230); 
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(245,240,230); 
  text-decoration-color: white;   
}

.grid { 
  background-color: #182b49; 
  color: white; 
  display: flex; 
  max-height: 300px; 
  overflow: auto; 
}

@media screen and (max-width: 800px) {
  .navbar ul {
    display: none; 
  }
  .logo { 
    max-width: 75%;
    height: auto;
  }
  h3 { 
    font-size: 24px
  }
  p { 
    font-size: 20px;
  }
  .wrapper { 
    grid-template-columns: repeat(2, 1fr);
  }
}